@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#navbar {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9;
}

#topnav {
    background-color: rgb(242, 242, 242);
    height: 11px;
    display: flex;
    justify-content: flex-end;
    color: grey;
    /* align-items: center; */
    font-size: 12px;
    padding: 10px;
}

#topbtn {
    display: flex;
}

#usic {
    display: flex;
    gap: 10px;
}

#usic>p {
    margin-top: -2px;
}

#idhelpnav {
    margin-top: -2px;
}

#middlenav {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

.headerLogo {
    width: 200px;
}

#serachkaro>input {
    padding-right: 250px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#serachkaro>button {
    margin-left: -5px;
    padding-top: 10.5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: white;
    border: 1.5px solid grey;
    border-left: none;
}

#serachkaro>button:hover {
    background-color: rgb(242, 242, 242);
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
}

#acc_cart {
    display: flex;
    /* width: 250px; */
}

#account {
    /* margin-left: -80px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cartmenus {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    /* color: rgb(222, 222, 222); */
    padding: 14px 16px;
    background-color: inherit;
    /* font-family: inherit; */
    /* margin: 0; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* background-color: rgb(31, 40, 62); */
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(12, 16, 25);

}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown:hover #cartcontent {
    padding-right: 100px;
    padding-top: 50;
    padding-bottom: 10px;
}

#cartcontent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

#svgcart {
    display: flex;
    margin-top: 8px;

}

#bag {
    margin-top: 10px;
    ;
}

#mainacc {
    padding: 5px;
    width: 250px;
}

#lrmenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#loginacc {
    background-color: black;
    color: white;
    padding: 10px 50px;
    font-weight: bold;
}

#loginacc+button>a {
    color: black;
}

#loginacc>a:hover {
    background-color: aqua;
    color: black;
}

#loginacc:hover {
    background-color: aqua;
    color: black;
}

#loginacc+button {
    background-color: white;
    padding: 10px 50px;
    font-weight: bold;

}

#loginacc+button:hover {
    background-color: rgb(234, 255, 255);
}

#otheracc {
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#otheracc>div {
    padding: 5px 0;
}

#otheracc>div:hover {
    background-color: rgb(242, 242, 242);
}

.jalala {
    border: 4px solid black;
    border-left: none;
    /* outline: 0; */
}

#bottomnav {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    width: 90%;
    margin: auto;
    height: 30px;
    align-items: center;
}

#bottomnav>div {
    padding: 5px 12px;
}

#bottomnav>div:hover {
    background-color: rgb(78, 78, 78);
    color: white;
}








#saledrop {
    /* margin-left: 90px; */
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(254, 220, 226);
    /* margin-right: 100px; */
    margin-top: 7px;
    width: 15%;
    padding: 20px 25px;
    gap: 10px;
    position: absolute;
    z-index: 1;
    display: none;
}

#saledrop>div {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    width: 95%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#saledrop>div>img {
    width: 50px;
}

#saledrop>div>h2 {
    font-size: 50px;
}

#salariya:hover #saledrop {
    display: block;
    color: black;
}

#option {
    height: 6vh;
    display: flex;
    margin-left: 5rem;
    align-items: center;
}

.options {
    width: 6rem;
    ;
    margin-left: rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.options:hover {
    color: white;
    background-color: rgb(26, 26, 26);
    cursor: pointer;
}

#offer {
    background-color: rgb(233, 231, 231);
    height: 8vh;
    display: flex;
    justify-content: center;
}

.offers {
    height: 100%;
    width: 20vw;
    display: flex;
}

.del {
    width: 20%;
    ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.del>img {
    height: 30%;
    ;
    width: 40%;
}

.text {
    width: 80%;
    display: flex;
    align-items: center;
}

.text:hover {
    text-decoration: underline;
}

#search {
    height: 6vh;
    display: flex;
    justify-content: center;
    background-color: rgb(69, 69, 69);
}

.opt {
    width: 8%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.opt>img {
    height: 50%;
}

.opt:hover {
    color: black;
    background-color: rgb(0, 162, 162);
}

#popup {

    background-color: rgb(233, 231, 231);
    position: absolute;
    left: 5rem;
    z-index: 100;
    height: 30vh;
    width: 85vw;
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    display: none;
}

.next {
    background-color: white;
    height: 4rem;
    width: 14rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
}


#icons {
    border-top: solid 1px rgb(51, 51, 51);
    height: 10rem;
    display: flex;
    justify-content: center;
}

#icons>div {
    width: 40%;
}

.but>p {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
}

.but>button {
    border: 0px;
    margin-top: 2rem;
    padding: 0.7rem;
    font-size: medium;
    background-color: rgb(39, 39, 39);
    color: white;
}

.icon>div {
    margin-top: 2rem;
    font-size: 1.3rem;
}

#social {
    height: 3rem;
    display: flex;
}

#social>img {
    margin-left: 1rem;
    ;
}

#list {
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.lists {
    border-top: solid 1px rgb(52, 52, 52);
    width: 20%;
}

.lists>p {
    margin-top: 1.5rem;
}

#social1 {
    height: 3rem;
    display: flex;
}

#footer {
    position: relative;
    bottom: 0;
}

div>a:hover {
    color: #df6c9b;
}